In [ ]:
#creating spark instance
from pyspark.sql import SparkSession
spark = SparkSession .builder.appName('data_clean').getOrCreate()

In [ ]:
#reading data from a csv file using spark
df1 = spark.read.csv("sample.csv",header='true', inferSchema='true')

In [ ]:
#numbers of rows in a dataframe
df1.count()

In [ ]:
#schema for the dataframe
df1.printSchema()

In [ ]:
#selecting a column and casting
from pyspark.sql.functions import col
from pyspark.sql.types import *
df2=df1.select(col("browser").cast(DecimalType(38)))

In [ ]:
#convert to Pandas
df4=df2.toPandas()

In [ ]:
#reading data into pandas dataframe
import pandas as pd
df = pd.read_csv("sample.csv",header=0, sep=',', parse_dates=True, encoding='latin1' )

In [ ]:
#dropping a column from pandas dataframe
df3 = df.drop('browser',axis=1)

In [ ]:
#counting the number of values in each column of the dataframe
df3.count()

In [ ]:
#number of rows
len(df.index)

In [ ]:
df3.head(1)

In [ ]:
df4.head(1)

In [ ]:
index= range(1,1002)

In [ ]:
len(df4.index)

In [ ]:
len(index)

In [ ]:
df4['index']=index

In [ ]:
df3['index']=index

In [ ]:
result=pd.merge(df3,df4,on='index')

In [ ]:
#result=df3.add(df4)

In [ ]:
result.head(5)

In [ ]:
len(result.index)

In [ ]:
#frames=[df3,df4]

In [ ]:
#result=pd.concat(frames)

In [ ]:
#result.tail(5)

In [ ]:
result.dtypes

In [ ]:
#result.head(5)

In [ ]:
#drop rows with any na
result.dropna()

In [ ]:
#drop rows with all na
result.dropna(how='all')

In [ ]:
len(result.index)

In [ ]:
#if pageurl is empty, drop
noBlankPageUrl=result.dropna(subset=['page_url'])

In [ ]:
len(noBlankPageUrl.index)

In [ ]:
noBlankEvent=result.dropna(subset=['event_list'])

In [ ]:
len(noBlankEvent.index)

In [ ]:
noBlankEvent.shape

In [ ]:
len(result.index)

In [ ]:
#considering all the values
noNullColumn=result.dropna(axis=1, how='all')

In [ ]:
len(noNullColumn.columns)

In [ ]:
noNullColumn.head(5)

In [ ]:
#columns= ['browser_height','browser_width','c_color']
#noNull=noNullColumn.drop(['campaign',''], 1)

In [ ]:
noNull.head(5)

In [ ]:
#check for null values
import numpy as np
noNull.isnull().any()

In [ ]:
#drop the column if it has more than 400 null values
result1=noNull.dropna(axis=1,thresh=600)

In [ ]:
result1.shape

In [ ]:
result1.head()

In [ ]:
result1.count()

In [ ]:
#storing the pre-processed file
result1.to_csv('out.csv')

In [ ]:
#import pandas as pd
#sum(pd.isnull(noNull[])).show()

In [ ]:
#converting again to Spark
from pyspark import SparkContext
sc =SparkContext.getOrCreate()
sqlCtx = SQLContext(sc)
from pyspark.sql.types import DoubleType

In [ ]:
#sqlCtx.createDataFrame(result).show()